<div class="testbox">
    <h1 class="text-center">Administrador</h1>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="">Usuarios</h1>
        </div>
    </div>
    <!--TABLA USUARIOS-->

    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="">Animales</h1>
        </div>
    </div>
    <!--TABLA ANIMALES-->

    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="">Solicitudes</h1>
        </div>
    </div>
    <!--TABLA SOLICITUDES-->


    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="">Pedidos</h1>
        </div>
    </div>
    <!--TABLA PEDIDOS-->


    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="">Productos</h1>
        </div>
    </div>
    <!--TABLA PRODUCTOS-->
</div>
