<div class="fondo">
    <form [formGroup]="formPerfil">
        <div class="testbox">
            <h1 class="text-center">Mi Perfil</h1>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1 class="">Datos Personales</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <label for="nombre">Nombre</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-user text-white bg-success" aria-hidden="true"></span>
                        </div>
                        <input type="text" class="form-control" formControlName="nombre" name="nombre" id="nombre" placeholder="Nombre" required/>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="apellidos">Apellidos</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-user text-white bg-success" aria-hidden="true"></span>
                        </div>
                        <input type="text" class="form-control" formControlName="apellidos" name="apellidos" id="apellidos" placeholder="Apellidos"/>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-envelope text-white bg-success" aria-hidden="true"></span>
                        </div>
                        <input type="email" class="form-control" formControlName="email" name="email" id="email" placeholder="Email"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="dni">DNI/NIF</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-white bg-success" aria-hidden="true"><i class="fas fa-id-badge"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="dni" name="dni" id="dni" placeholder="DNI/NIF"/>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <label for="telefono">Teléfono</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-white bg-success" aria-hidden="true"><i class="fas fa-phone"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="telefono" name="telefono" id="telefono" placeholder="Teléfono" required/>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="direccion">Dirección</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-white bg-success" aria-hidden="true"><i class="fas fa-home"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="direccion" name="direccion" id="direccion" placeholder="Dirección" required/>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <label for="provincia">Provincia</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-white bg-success" aria-hidden="true"><i class="fas fa-globe-europe"></i></span>
                        </div>
                        <select class="form-control" id="raza" formControlName="provincia" required>
                            <option hidden [ngValue]="null" selected>Provincia</option>
                            <option *ngFor="let provincia of comboProvincias" [value]="provincia.id">
                                {{provincia.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="codigoPostal">Código Postal</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-white bg-success" aria-hidden="true"><i class="fas fa-home"></i></span>
                        </div>
                        <input type="text" maxlength="5" class="form-control" formControlName="codigoPostal" name="codigoPostal" id="codigoPostal" placeholder="Código Postal" required/>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <label for="edad">Edad</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-user text-white bg-success" aria-hidden="true"></span>
                        </div>
                        <input type="number" class="form-control" formControlName="edad" min="18" name="edad" id="edad" placeholder="Edad" required/>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="sexo">Sexo</label>
                    <div class="sexo justify-content-center">
                        <input formControlName="sexo" class="mr-2" type="radio" value="H" id="hombre" name="sexo"/>
                        <label for="male">Hombre</label>
                        <input formControlName="sexo" type="radio" value="M" id="mujer" name="sexo" class="left-margin "/>
                        <label class="ml-2" for="mujer">Mujer</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <button class="btn btn-success">Editar</button>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1 class="">Mis Solicitudes</h1>
                </div>
            </div>
            <div class="mensaje" *ngIf="!sinDatosSolicitudes">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        No hay información para mostrar.
                    </div>
                </div>
              </div>

              <div class="mat-elevation-z8" *ngIf="sinDatosSolicitudes">
                <table class="indexS" mat-table [dataSource]="dataSourceSolicitudes" class="mat-elevation-z8" #tabla1 >
                  <ng-container matColumnDef="idSolicitud">
                    <th mat-header-cell *matHeaderCellDef>Id Solicitud</th>
                    <td mat-cell *matCellDef="let solicitud"> 
                        {{solicitud.id.idSolicitud + '-' + solicitud.id.idUsuario + '-' + solicitud.id.idAnimal}}
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="animal">
                    <th mat-header-cell *matHeaderCellDef>Animal</th>
                    <td mat-cell *matCellDef="let solicitud"> 
                        {{solicitud.nombreAnimal}}
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="tipoAnimal">
                    <th mat-header-cell *matHeaderCellDef>Tipo animal</th>
                    <td mat-cell *matCellDef="let solicitud"> 
                        {{solicitud.tipoAnimal}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let solicitud"> 
                        {{solicitud.estado}}
                    </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let solicitud"> 
                        <button class="btn btn-success mr-1"><i class="far fa-eye"></i></button>
                        <button class="btn btn-warning mr-1"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger" (click)="eliminarSolicitud(solicitud)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsSolicitudes"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsSolicitudes;"></tr>
                </table>
                <mat-paginator class="indexS" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"></mat-paginator>
              </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1 class="">Mis Pedidos</h1>
                </div>
            </div>

        </div>
    </form>
</div>
