.testbox {
    margin: 20px auto;
    width: 1000px; 
    min-height: 1250px;
    -webkit-border-radius: 8px/7px; 
    -moz-border-radius: 8px/7px; 
    border-radius: 8px/7px; 
    background-color: #ebebeb; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    border: solid 1px #cbc9c9;
}
h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    padding-top: 10px;
    margin-bottom: 10px;
}
.left-margin {
    margin-left: 50px;
}
.fondo {
    background-image: url(../../../../../assets/backgroundBonesPaws.jpg);
    min-height: 500px;
}
.mensaje {
  color: rgba(0, 0, 0, 0.54);
  padding: 15px 24px;
}
.ml5 {
  margin-left: 6px !important;
}
.mat-column-idSolicitud {
  min-width: 200px;
}
.mat-column-animal {
  min-width: 200px;
}
.mat-column-tipoAnimal {
  min-width: 100px;
}
.mat-column-estado {
  min-width: 200px;
}
.mat-column-acciones {
  min-width: 300px;
}
.indexS {
  z-index: 60000 !important;
}
p {
  color: red;
}