.testbox {
    margin: 20px auto;
    width: 700px; 
    min-height: 800px; 
    -webkit-border-radius: 8px/7px; 
    -moz-border-radius: 8px/7px; 
    border-radius: 8px/7px; 
    background-color: #ebebeb; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    border: solid 1px #cbc9c9;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  padding-top: 10px;
  margin-bottom: 10px;
}
.left-margin {
    margin-left: 50px;
}
.sexo {
  margin-left: 80px;
  margin-bottom: 10px;
}
p {
  color: red;
}
.left-marginPass {
  margin-left: 200px;
}