.testbox {
    margin: 20px auto;
    width: 343px; 
    height: 464px; 
    -webkit-border-radius: 8px/7px; 
    -moz-border-radius: 8px/7px; 
    border-radius: 8px/7px; 
    background-color: #ebebeb; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    border: solid 1px #cbc9c9;
}
body {
    background-image: url(../../../../assets/backgroundBonesPaws.jpg);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  padding-top: 10px;
  margin-bottom: 10px;
}
.left-margin {
    margin-left: 50px;
}
.sexo {
  margin-left: 80px;
  margin-bottom: 10px;
}
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #28a745;
}

/* optional styles for centering radiobuttons */
.sound-signal {
  display: flex;
  align-items: center;
}