 <body>
    <form [formGroup]="formRegistro">
        <div class="testbox">
            <h1 class="text-center">Registro</h1>
            <hr>
            <div class="row left-margin">
                <div class="col-10">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-user text-white bg-success" aria-hidden="true"></span>
                        </div>
                        <input type="text" class="form-control" formControlName="nombre" name="nombre" id="nombre" placeholder="Nombre" required/>
                    </div>
                </div>
            </div>
            <div class="row left-margin">
                <div class="col-10">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-envelope text-white bg-success" aria-hidden="true"></span>
                        </div>
                        <input type="text" class="form-control" formControlName="email" name="email" id="email" placeholder="Email" required/>
                    </div>
                </div>
            </div>
            <div class="row left-margin">
                <div class="col-10">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-white bg-success fa fa-key" aria-hidden="true"></span>
                        </div>
                        <input type="password" class="form-control" formControlName="pass1" name="pass1" id="pass1" placeholder="Contraseña" required/>
                    </div>
                </div>
            </div>
            <div class="row left-margin">
                <div class="col-10">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-unlock-alt text-white bg-success" aria-hidden="true"></span>
                        </div>
                        <input type="password" class="form-control" formControlName="pass2" name="pass2" id="pass2" placeholder="Verifica contraseña" required/>
                    </div>
                </div>
            </div>
            <!--Sexo radio buttons-->
            <div class="sexo justify-content-center">
                <input class="mr-2" type="radio" value="hombre" id="hombre" name="sexo" checked/>
                <label for="male">Hombre</label>
                <input type="radio" value="mujer" id="mujer" name="sexo" class="left-margin "/>
                <label class="ml-2" for="mujer">Mujer</label>
            </div>
            <!--Botón registrarse-->
            <hr>
            <div class="row justify-content-center">
                <button class="btn btn-success" (click)="registrarse()">Registrarse</button>
            </div>
        </div>
    </form>
</body>