<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a href="#" class="navbar-brand">
        <h3 class="mb-0">Mascotas</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse"
    data-target="#mainNavBar">
        <i class="fa fa-paw" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">Adopciones</a></li>
            <li class="nav-item"><a href="" class="nav-link">Productos</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>