<nav class="navbar navbar-expand-md navbar-dark bg-success">
        <a href="home" class="navbar-brand" (click)="clickHome()">
            <h3 class="mb-0">Mascotas <i class="fa fa-paw"></i> </h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse"
        data-target="#mainNavBar">
            <i class="fa fa-paw" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" (click)="clickHome()"><i class="fas fa-home"></i> Inicio</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-dog"></i> Adopciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" (click)="clickPerros()">Perros <i class="fa fa-dog" aria-hidden="true"></i></a>
                      <a class="dropdown-item" (click)="clickGatos()">Gatos <i class="fas fa-cat" aria-hidden="true"></i></a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="clickOtros()">Otros <i class="fas fa-crow" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" (click)="clickProductos()"><i class="fas fa-gifts"></i> Productos</a></li>
                <!--Iniciar Sesión se ve solo si no hemos inciado sesión, por lo que no se verá perfil, y viceversa-->
                <li *ngIf="!usuarioIniciadoSesion" class="nav-item"><a class="nav-link" (click)="clickInicioSesion()"><i class="fa fa-user"></i> Iniciar sesión</a></li>

                <li *ngIf="usuarioIniciadoSesion" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Perfil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" (click)="clickPerfil()" >Mi Perfil <i class="fa fa-user" aria-hidden="true"></i></a>
                      <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión <i class="fas fa-sign-out-alt" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="nav-item" *ngIf="!usuarioIniciadoSesion"><a class="nav-link" (click)="clickRegistro()"><i class="fa fa-edit"></i> Registrarse</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fas fa-shopping-cart"></i> Cesta</a></li>
            </ul>
        </div>
</nav>

<div class="p-0" style="min-height: 70vh;">
    <router-outlet class="container" (activate)="recibirCesta($event); recibirUsuario()" (deactivate)="recibirCesta($event); recibirUsuario()" (stateChanged)="recibirCesta($event)" ></router-outlet>
</div>

<footer id="footer" class="p-3 bg-success">
    <ul class="nav text-center justify-content-center flex-column flex-sm-row">
        <li class="nav-item">
            <a href="#" class="nav-link  text-white">Contacto</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link  text-white">Adopciones</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link  text-white">Productos</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link  text-white">Sobre nosotros</a>
        </li>
    </ul>
</footer>

<!--<div class="d-flex bg-success">
    <div class="p-2 flex-grow-1 align-self-center justify-content-center text-center">
        <ul class="nav nav-fill">
            <li class="nav-item">
                <a href="#" class="nav-link  text-white">Contacto</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link  text-white">Adopciones</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link  text-white">Productos</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link  text-white">Sobre nosotros</a>
            </li>
        </ul>
    </div>
</div>-->

<!--<footer id="footer" class="p-3 bg-success">
    <ul class="nav text-center justify-content-center flex-column flex-sm-row">
        <li class="nav-item">
            <a href="#" class="nav-link  text-white">Contacto</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link  text-white">Adopciones</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link  text-white">Productos</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link  text-white">Sobre nosotros</a>
        </li>
    </ul>
</footer>-->