<div class="container">
    <form [formGroup]="formCabecera">
        <div class="row busqueda">
            <div class="col-md-12">
                <h1 class="text-center adopcionPerros">Productos</h1>
            </div>
            <div class="col-md-3">
                <label class="letraCabecera" for="raza">Animal</label>
                <ng-select [items]="tiposAnimales" formControlName="animal" bindLabel="descripcion"
                   placeholder="Raza" [(ngModel)]="animalSeleccionado">
                </ng-select>
            </div>
            <div class="col-md-2">
                <label class="letraLabels">Cualquiera</label>
                <input class="ml-2" type="radio" value="null" name="categoria" formControlName="categoria"/>
            </div>
            <div class="col-md-2">
                <label class="letraLabels">Juguetes</label>
                <input class="ml-2" type="radio" value="Juguetes" name="categoria" formControlName="categoria"/>
            </div>
            <div class="col-md-2">
                <label class="letraLabels">Accesorios</label>
                <input class="ml-2" type="radio" value="Accesorios" name="categoria" formControlName="categoria"/>
            </div>
            <div class="col-md-3">
                <label class="letraLabels">Cuidado</label>
                <input class="ml-2" type="radio" value="Cuidado" name="categoria" formControlName="categoria"/>
            </div>
            <div class="col-md-12">
                <h2 class="text-center"><i class="fa fa-paw"></i> ¡Lo mejor para nuestros peluditos! <i class="fa fa-paw"></i></h2>
            </div>
        </div>
    </form>
    <div class="row justify-content-end mb-3">
        <button class="btn btn-primary" (click)="buscar()">Buscar</button>
    </div>
    <!--Productos-->
    <div class="row card-group">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4" *ngFor="let producto of productos">
            <div class="card mb-4" style="width: 18rem;" (click)="clickCard(producto)">
                <img [src]="producto.imagenSrc"class="card-img-top2 fluid hover-card">
                <div class="card-body">
                    <b class="card-title">{{producto.nombre}}</b>
                    <hr>
                    <p class="card-text" matTooltip="Info about the action"
                    matTooltipPosition="center"
                    aria-label="Button that displays a tooltip in various positions">{{producto.descripcion && producto.descripcion.length >=50 ? producto.descripcion.substring(0, 50) + '...': producto.descripcion}}</p>
                    <p class="card-text">Precio: {{producto.precio}} €</p>
                    <p class="card-text">Animal: {{producto.tipoAnimal}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
