/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";*/
/*@import '~fortawesome/fontawesome-free/css/all.min.css';*/
/*footer {
    width: 100%;
    height: 81px;
    position: relative;
    bottom: 0;
    left: 0;
}*/
.busqueda {
    background-color: purple !important;
    font-size: small;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
  }

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #28a745;
}

/* optional styles for centering radiobuttons */
.sound-signal {
  display: flex;
  align-items: center;
}
.card-img-top2 {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}