<div style="background-image: url(../../../../../assets/backgroundBonesPaws.jpg);">
    <div class="testbox">
        <h1 class="text-center">Formulario de adopción</h1>
        <hr>
        <form>
            <div class="row ml-4">
                <div class="col-md-4">
                    <label for="nombre">Nombre*</label>
                    <input type="text" class="form-control" name="nombre">
                </div>
                <div class="col-md-7">
                    <label for="apellidos">Apellidos*</label>
                    <input type="text" class="form-control" name="apellidos">
                </div>
            </div>
        </form>
    </div>
</div>
