<div style="background-image: url(../../../../../assets/backgroundBonesPaws.jpg);">
    <div class="testbox">
        <h1 class="text-center">Formulario de adopción</h1>
        <hr>
        <form [formGroup]="formAdopcion">
            <div class="row ml-4">
                <div class="col-md-4">
                    <label for="nombre">Nombre*</label>
                    <input type="text" class="form-control" name="nombre" formControlName="nombre">
                </div>
                <div class="col-md-7">
                    <label for="apellidos">Apellidos*</label>
                    <input type="text" class="form-control" name="apellidos" formControlName="apellidos">
                </div>
            </div>
            <div class="row ml-4">
                <div class="col-md-11">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" name="direccion" formControlName="direccion">
                </div>
            </div>
            <!--<div class="row ml-4">
                <div class="col-md-11">
                    <label for="poblacion">Población</label>
                    <input type="text" class="form-control" name="poblacion" formControlName="poblacion">
                </div>
            </div>-->
            <div class="row ml-4">
                <div class="col-md-4">
                    <label for="codPostal">Código Postal</label>
                    <input type="text" class="form-control" name="codPostal" formControlName="codPostal">
                </div>
                <div class="col-md-7">
                    <label for="telefonoMovil">Teléfono Móvil</label>
                    <input type="text" class="form-control" name="telefonoMovil" formControlName="telefonoMovil">
                </div>
            </div>
            <div class="row ml-4">
                <div class="col-md-11">
                    <label for="razon">¿Por qué quieres adoptar?</label>
                    <textarea class="form-control textarea" name="razon" formControlName="razon" 
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('razon').errors}"></textarea>
                </div>
            </div>
            <div *ngIf="this.formAdopcion.get('razon').errors" class="col-10">
                <div *ngIf="this.formAdopcion.get('razon').hasError('required')" class="row left-margin">
                    <div class="col-10 mb-3">
                        <p *ngIf="this.formAdopcion.get('razon').hasError('required')">Debe de introducir una razón</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row ml-4">
                <div class="col-md-4">
                    <label>¿Tienes mascotas en casa?</label>
                </div>
                <div class="col-md-4">
                    <input class="mr-2" type="radio" value="1" name="mascotas" formControlName="mascotas"
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('mascotas').errors}"/>
                    <label>Sí</label>
                    <input type="radio" value="0" name="mascotas" class="left-margin" formControlName="mascotas"
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('mascotas').errors}"/>
                    <label class="ml-2" >No</label>
                </div>
            </div>
            <div *ngIf="this.formAdopcion.get('mascotas').errors" class="col-10">
                <div *ngIf="this.formAdopcion.get('mascotas').hasError('required')" class="row left-margin">
                    <div class="col-10 mb-3">
                        <p *ngIf="this.formAdopcion.get('mascotas').hasError('required')">Debe de introducir una opción</p>
                    </div>
                </div>
            </div>
            <div class="row ml-4">
                <div class="col-md-4">
                    <label for="mascotas">¿Tienes terraza en casa?</label>
                </div>
                <div class="col-md-4">
                    <input class="mr-2" type="radio" value="1" name="terraza" formControlName="terraza"
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('terraza').errors}"/>
                    <label>Sí</label>
                    <input class="mr-2" type="radio" value="0" name="terraza" class="left-margin" formControlName="terraza"
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('terraza').errors}"/>
                    <label class="ml-2">No</label>
                </div>
            </div>
            <div *ngIf="this.formAdopcion.get('terraza').errors" class="col-10">
                <div *ngIf="this.formAdopcion.get('terraza').hasError('required')" class="row left-margin">
                    <div class="col-10 mb-3">
                        <p *ngIf="this.formAdopcion.get('terraza').hasError('required')">Debe de introducir una opción</p>
                    </div>
                </div>
            </div>
            <div class="row ml-4">
                <div class="col-md-4">
                    <label for="mascotas">¿Tienes jardín en casa?</label>
                </div>
                <div class="col-md-4">
                    <input class="mr-2" type="radio" value="1" name="jardin" formControlName="jardin"
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('jardin').errors}"/>
                    <label>Sí</label>
                    <input type="radio" value="0" name="jardin" ormControlName="jardin" class="left-margin "
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('jardin').errors}"/>
                    <label class="ml-2">No</label>
                </div>
            </div>
            <div *ngIf="this.formAdopcion.get('jardin').errors" class="col-10">
                <div *ngIf="this.formAdopcion.get('jardin').hasError('required')" class="row left-margin">
                    <div class="col-10 mb-3">
                        <p *ngIf="this.formAdopcion.get('jardin').hasError('required')">Debe de introducir una opción</p>
                    </div>
                </div>
            </div>
            <div class="row ml-4">
                <div class="col-md-11">
                    <label for="horarioTrabajo">¿Cuál es tu horario de trabajo?</label>
                    <input type="text" class="form-control" name="horarioTrabajo" formControlName="horarioTrabajo"
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('horarioTrabajo').errors}">
                </div>
            </div>
            <div *ngIf="this.formAdopcion.get('horarioTrabajo').errors" class="col-10">
                <div *ngIf="this.formAdopcion.get('horarioTrabajo').hasError('required')" class="row left-margin">
                    <div class="col-10 mb-3">
                        <p *ngIf="this.formAdopcion.get('horarioTrabajo').hasError('required')">Debe de introducir un horario de trabajo</p>
                    </div>
                </div>
            </div>
            <div class="row ml-4">
                <div class="col-md-11">
                    <label for="razon">¿Qué miembros de la familia conviven contigo?</label>
                    <textarea class="form-control textarea" name="miembrosFamilia" formControlName="miembrosFamilia"
                    required [ngClass]="{ 'is-invalid': this.formAdopcion.get('miembrosFamilia').errors}"></textarea>
                </div>
            </div>
            <div *ngIf="this.formAdopcion.get('miembrosFamilia').errors" class="col-10">
                <div *ngIf="this.formAdopcion.get('miembrosFamilia').hasError('required')" class="row left-margin">
                    <div class="col-10 mb-3">
                        <p *ngIf="this.formAdopcion.get('miembrosFamilia').hasError('required')">Debe de introducir los miembros de su hogar</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row ml-4">
                <div class="col-md-11">
                    <b class="text-center1">{{this.nombreAnimal}}</b><br>
                    <br>
                    <img [src]="this.animalSrc" class="card-img-top " alt="...">
                </div>
            </div>
            <div class="row ml-4">
                <div class="col-md-11">
                    <input type="checkbox" value="politicaPrivacidad" id="politicaPrivacidad" name="politicaPrivacidad" formControlName="politicaPrivacidad" class="ml-3" [checked] = "this.privacidad ? true : false"
                    (change) = cambiarCheck() [ngClass]="{ 'is-invalid': this.formAdopcion.get('politicaPrivacidad').errors}"/>
                    <a class="left-margin link" (click)="abrirModal()">He leído y acepto la política de privacidad y el tratamiento de mis datos.</a>
                </div>
            </div>
            <div *ngIf="this.formAdopcion.get('politicaPrivacidad').errors" class="col-10">
                <div *ngIf="this.formAdopcion.get('politicaPrivacidad').hasError('required')" class="row left-margin">
                    <div class="col-10 mb-3">
                        <p *ngIf="this.formAdopcion.get('politicaPrivacidad').hasError('required')">Debe de aceptar la política de privacidad</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <button *ngIf="!this.modoConsulta" class="btn btn-success" type="button" (click) = "clickEnviar()">Enviar</button>
                <button *ngIf="this.modoConsulta || this.modoEditar" type="submit" class="btn btn-primary mr-4" (click)="volver()">Volver a mi perfil</button>
            </div>
            <br>
        </form>
    </div>
</div>
