.testbox {
    margin: 20px auto;
    width: 700px; 
    height: 1600px; 
    -webkit-border-radius: 8px/7px; 
    -moz-border-radius: 8px/7px; 
    border-radius: 8px/7px; 
    background-color: #ebebeb; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    border: solid 1px #cbc9c9;
}
h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    padding-top: 10px;
    margin-bottom: 10px;
}
.left-margin {
    margin-left: 50px;
}
input label{
    display: inline-block;
}
.textarea{
    resize: none;
    height: 200px;
}
a:visited {
    color: #609;
}
a:hover {
    cursor: pointer;
    color: #609;
    text-decoration: underline;
}
a{
    color: #1a0dab;
}
